.image {
    width: 300px;
    height: 300px;
    border-radius: 70%;
    background-size: cover;
    overflow: hidden; 
  }
#container{
    display: flex;
    align-content: space-between;
    border: 10px;
}
.section1{
    background-color:rgb(45, 19, 71);
    text-align:left;
    border-radius: 10px;
    border-color: black;
    color: rgb(225, 229, 233);
    margin-left: 10px;
    padding-left: 10px;
    
}
.part{
      margin-left: 10rem;
      margin-block-start: 10px;
      margin-left: 10px;
}
.section2{
    border-radius: 10px;
    margin-left: 10px;
}
h2.section2{
    color:rgb(45, 19, 71);
}
h3{
    color:rgb(79, 53, 106);
}
h1{
    color:rgb(45, 19, 71);
}